<div class="text-center py-20 px-4 sm:px-6 lg:px-8">
  <h1 class="text-5xl font-extrabold text-white tracking-tight sm:text-6xl md:text-7xl">
    Touring Note
  </h1>
  <p class="mt-6 max-w-2xl mx-auto text-xl text-gray-400">
    行き先を決める。
    <br>
    そこから特別な日になっていく。
  </p>
  <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center space-y-4 sm:space-y-0 sm:space-x-4">
    <% if user_signed_in? %>
      <%= link_to "マイスポットへ", spots_path, class: "w-full sm:w-auto flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-primary-blue hover:bg-blue-600 md:py-4 md:text-lg md:px-10" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "w-full sm:w-auto flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-primary-blue bg-gray-700 hover:bg-gray-600 md:py-4 md:text-lg md:px-10" %>
    <% end %>
  </div>
</div>